body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 700px;
    margin: 1em auto; }
h1, h2, h3, p {
    margin: 0;
    padding: 0; }
a { font-weight: bold; }
a:link { color: #931420; }
a:visited { color: #f2972e; }
a:hover, a:focus { color: blue; }
ul { margin: 0 0 1.5em; }
li { font-size: 95%;
    padding-bottom: .35em; }
p { font-size: 95%;
    padding: .25em 0; }
em { font-weight: bold; }
